body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #e2e2e2;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 15vh;
}

.bankist-logo {
    margin-left: 2rem;
}

.login-title {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 5rem;
}

.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
    margin-right: 2rem;
}

.login-form .input-group {
    margin-right: 0.2rem;
}

.login-form input {
    padding: 0.5rem;
    border: 2px solid #ff4f4f;
    border-radius: 10px;
    width: 80px;
    height: 1.5rem;
}

.login-btn {
    background-color: #ff4f4f;
    color: white;
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 80%;
    /* Control main-content fade in/out */
    /* opacity: 0; */
}

.balance-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.balance-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.balance-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
    margin-top: 0;
}

.balance {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    width: 250px;
    color: #ff4f4f;
}

.transactions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    width: 100%;
    margin: 2rem
}

.transactions .input-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.transactions input {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.transactions-list {
    max-height: 60vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    grid-row: span 3;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.transaction-item {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 5px solid #e2e2e2;
}

.transaction-item-type {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.transaction-item-DEPOSIT {
    background: linear-gradient(to left top, #64db78, greenyellow);
}

.transaction-item-WITHDRAWAL {
    background: linear-gradient(to left top, rgb(197, 65, 65), rgb(253, 97, 69));
}

.transaction-item-date {
    width: 15%;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    text-align: start;
}

.transaction-item-amount {
    width: 60%;
    font-size: 1.5rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    text-align: end;
    color: #000000;
}

.input-io-group {
    display: flex;
    flex-direction: row;
}

.transf-money {
    text-align: start;
    height: 15vh;
    padding: 1rem 2rem;
    margin: 0 1rem 1rem 1rem;
    background: linear-gradient(to left top, #ecc045, #ffdf4f);
    border-radius: 30px;
    grid-column: 2 / span 2;
}

.transf-money input {
    background-color: #ffeea1;
}

.transfer-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.req-loan {
    text-align: start;
    height: 15vh;
    padding: 1rem 2rem;
    margin: 0 1rem;
    background: linear-gradient(to left top, #64db78, greenyellow);
    border-radius: 30px;
    grid-column: 2 / span 2;
}

.req-loan input {
    background-color: #d8ffdf;
}

.loan-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.close-account {
    height: 15vh;
    text-align: start;
    padding: 1rem 2rem;
    margin: 1rem 1rem 0 1rem;
    background: linear-gradient(to left top, rgb(197, 65, 65), rgb(253, 97, 69));
    border-radius: 30px;
    grid-column: 2 / span 2;
}

.close-account input {
    background-color: #fcd9d9;
}

.confirm-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.bankist-result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: inset 0px 1px 0px #000000;
}

.bankist-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.cash-in {
    display: flex;
    align-items: end;
    height: 100%;
}

.cash-in-title {
    font-size: 1rem;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.cash-in-amount {
    font-size: 2rem;
    font-weight: 400;
    color: #03cf2f;
    width: 150px;
    padding: 1rem 1rem 0 1rem;
}

.cash-out {
    display: flex;
    align-items: end;
    height: 100%;
}

.cash-out-title {
    font-size: 1rem;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.cash-out-amount {
    font-size: 2rem;
    font-weight: 400;
    color: #cf0303;
    width: 150px;
    padding: 1rem 1rem 0 1rem;
}

.interest {
    display: flex;
    align-items: end;
    height: 100%;
}

.interest-title {
    font-size: 1rem;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.interest-amount {
    font-size: 2rem;
    font-weight: 400;
    color: #03cf2f;
    width: 150px;
    padding: 1rem 1rem 0 1rem;
}

.sort-btn {
    background-color: #cf0303;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 20%;
    padding: 0 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.login-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 2rem 2rem 5rem;
}

.login-limit-title {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.5rem;
}

.login-limit-time {
    font-size: 1rem;
    font-weight: 800;
    color: #000000;
}

.footer {
    width: 100%;
    height: 5vh;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: center;
    text-align: end;
    height: 100%;
    width: 100%;
}

.footer-content p {
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}