@use 'base' as *;
.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  margin-top: auto;
  padding: 0 2rem;
  justify-content: center;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: start;
    }
    &--next {
      float: end;
    }
  }
  &__label {
    &--currPage {
      float: center;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
